Unmapped Resources:
    These are resources that exist in the exported resource group(s)
    but they aren't present in the config file(/conf/tfmodule.yaml)
    {{ if not .UnmappedResources }} 
    All resources appear in the config file
    {{ else }} {{ range .UnmappedResources }}
    {{ . }}{{ end }}{{end}}

Not found resources id's:
    These are resources that reference other resources, but whose ids 
    cannot be retrieved for one of two reasons: the resource belongs 
    to a different subscription, or the attribute doesn't 
    exactly match any of the existing resources.
    {{ if not .NotFoundResources }} 
    Doesn't exist any not found resource id
    {{ else }} {{ range .NotFoundResources }}
    resource: {{ .ResourceName }}
    attribute: {{ .ResourceVariable }}
    {{ end }} {{ end }} 

Found resources id's:
    These are resources with an attribute that references other resources
    and whose value in the tfvars have been changed to reference the
    output of said resources.
    {{ if not .FoundResources }} 
    Doesn't exist any found resource id
    {{ else }} {{ range .FoundResources }}
    resource: {{ .ResourceName }}
    attribute: {{ .ResourceVariable }}
    {{ end }} {{ end }} 
